In [ ]:
#Lakshya Sonawane PRN:25070123068
#Title : Study of For loops in Python

In [3]:
#Syntax of for loop
#for variable in sequence:
    #statements

In [4]:
#Print numbers from 1 to 5
for i in range(1,6):
    print(i)

1
2
3
4
5

In [15]:
#Print even numbers from 1 to 10
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [32]:
#Sum of first N numbers
i = 0
total = 0
n=int(input("Enter a number:"))
for i in range(1,n + 1):
  total += i
print("Sum = ",total)

Enter a number:5
Sum =  15

In [34]:
#3*3 matrix display
A = [[1,2,3],
    [4,5,6],
    [7,8,9]]
for i in range(3):
  for j in range(3):
     print(A[i][j],end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [36]:
A = [[1,2,3],
    [4,5,6],
    [7,8,9]]
for row in A:
  print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [43]:
# multiplication of 3*3 Matrices
A = [[1,2,3],
    [4,5,6],
     [7,8,9]]
B = [[1,2,4],
    [4,5,7],
     [7,8,9]]

Result = [[0,0,0],
          [0,0,0],
          [0,0,0]]


for i in range(3):           #rows of A
  for j in range(3):         #columns of B
    for k in range(3):
           Result[i][j] += A[i][k] * B[k][j]
for row in Result:
  print(row)

[30, 36, 45]
[66, 81, 105]
[102, 126, 165]

In [47]:
#Python Program to Accept Three Digits and Print all Possible Combinations
d1 = 1
d2 = 2
d3 = 3
d = [d1,d2,d3]
#123 , 132 , 213 , 231 , 312 , 321
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):

      if(d[i]!=d[j] and d[j]!=d[k] and d[i]!=d[k]):
        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [57]:
#Design a right angled triangle using python
num_rows = int(input("Enter the number of rows for the triangle: "))

for i in range(1, num_rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()

Enter the number of rows for the triangle: 5
*
* *
* * *
* * * *
* * * * *

In [65]:
#Pyramid pattern
rows = 5
for i in range(1, rows + 1):
  print(" " * (rows - i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *